
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/169391/pexels-photo-169391.jpeg?cs=srgb&dl=bar-bartender-beverage-169391.jpg&fm=jpg);">
</div>

<div class="container mt-5">

  <h1><%= @cocktail.name %></h1>
  <ul>
    <% @cocktail.doses.each do |dose| %>
      <li> <%= dose.description %> <%= dose.ingredient.name %> <%= link_to "🚽", dose_path(dose), method: :delete %> </li>
    <% end %>
  </ul>
  <div>
    <%= link_to "Add ingredients", new_cocktail_dose_path(@cocktail), :class => "btn btn-primary" %>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div>
    <%= link_to "Back to cocktails", cocktails_path %>
  </div>
</div>

